!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Cenatus
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body
    .container
      %header.header
        .row
          .col-md-6.logo.cl-effect-1
            %a{:href => "/"} cenatus
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/creative"} creative
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/web"} web
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/production"} production

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

      %footer
        .row
          .col-xs-12.col-md-7.address
            %address
              cenatus ltd
              %br
              458 hackney road
              %br
              london
              %br
              e2 9eg
          .col-xs-12.col-md-5.links
            %ul
              %li
                %a{:href => "/about-us"} about-us
              %li |
              %li
                %a{:href => "/contact"} contact
              %li |
              %li
                %a{:href => "/subscribe"} subscribe
    %script{:src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    -# %script(src='#{static_path(@conn, "/js/app.js")}')
