!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Cenatus
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body
    .container
      %header.header
        %nav{:role => "navigation"}
          %ul.nav.nav-pills.pull-right
            %li
              %a{:href => "/creative"} creative
            %li
              %a{:href => "/web"} web
            %li
              %a{:href => "/production"} production
        %span.logo
          %a{:href => "/"} cenatus

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

    %script{:src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script(src='#{static_path(@conn, "/js/app.js")}')
    :javascript
      //$.cloudinary.responsive()
