!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Cenatus
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body(class='#{CenatusLtd.PageView.handler_info @conn}')
    .container-fluid.cenatus
      %header.header
        .row
          .col-md-6.logo
            %a{:href => "/"}
              = render "cenatus-logo.html"
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/creative"} creative
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/technology"} technology
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/production"} production

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

      %footer
        .row
          .col-xs-12.col-md-8.address
            %address
              cenatus ltd
              %br
              458 hackney road
              %br
              london
              %br
              e2 9eg
          .col-xs-12.col-md-4.links
            %ul
              %li
                %a{:href => "/about-us"} about us
              %li |
              %li
                %a{:href => "/contact"} contact
              %li |
              %li
                %a{:href => "/subscribe"} subscribe
        .row
          - if @current_user do
            %ul
              %li
                = link "admin", to: page_path(@conn, :admin)
              %li |
              %li
                = link "log out", to: session_path(@conn, :delete, @current_user), method: "delete"

    %script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    %script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    %script(type='text/javascript')
      = raw("const mix_env = '#{Mix.env}';")

    %script(src='#{static_path(@conn, "/js/app.js")}')
