!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(name="Keywords" content="film performance, artist music, promoter, coding, close-up, event, radio presenter, compositional constructs, software programmer, haptic somatic, dj, narrativize, corsica studios, paracinema, gender activist, noisemusic, journalist, emotion + the tech(no)body, label owner, live coding, audio visual artist, built instruments, improvised music, austrian cultural forum, light composition, electronic music, cafe oto")
    %meta(name="Description" content="Unconscious Archives transverses noise core and vision spectacle bringing together expanded cinema and sonic propositions from London and afar.")
    %meta(name="google-site-verification" content="C2l1Yle4pDjoyFtGMC1MhqNlfpDHW0mytuDAsLTEu08")
    %title Unconscious Archives Festival 2017
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')


  %body(class='#{CenatusLtd.PageView.handler_info @conn}')
    .container-fluid.cenatus
      %header.header
        .row
          .col-md-6.logo
            %a{:href => "/"}
              = render "cenatus-logo.html"
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/events"} events
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/artists"} artists
          .col-xs-4.col-md-2.category.cl-effect-1
            %a{:href => "/info"} info

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

      %footer
        .row
          .col-xs-12.col-md-10.address
            = render CenatusLtd.SharedView, "address.html"
          .col-xs-12.col-md-2.links
            %ul
              %li
                %a{:href => "/about"} about
              %li |
              %li
                %a{:href => "/contact"} contact
        .row
          - if @current_user do
            %ul
              %li
                = link "admin", to: page_path(@conn, :admin)
              %li |
              %li
                = link "log out", to: session_path(@conn, :delete, @current_user), method: "delete"

    %script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    %script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    %script(type='text/javascript')
      = raw("const mix_env = '#{Mix.env}';")

    %script(src='#{static_path(@conn, "/js/app.js")}')

    %script(src="https://use.typekit.net/hzy8pqx.js")
    %script(type="text/javascript")
      try {
        Typekit.load({ async: true });
      } catch(e){}
