.row
  .col-md-6
    %article.show
      %image{src='#{@article.image_url}'}
  .col-md-6.related
    %h3.lp related articles
    %ul
      - for related <- @related do
        %li
          -# %a.link{href='/articles/#{related.id}'}= related.title
          = related.title

.row
  .col-md-12
    %article.show
      %h3.lp= @article.title
      %h4.lp= @article.published_at
      .content.lp= @article.content
      %p.lp
        Filed as:
        = render_tags_as_links_from(@conn, @article.tags)

    %div
      %a{href= '#{article_path(@conn, :edit, @article)}'}
        edit
    %br
