.row
  .col-md-6
    %article.show
      %image{src='#{@article.image_url}'}
  .col-md-6.related
    %h3.lp related articles
    %ul
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet, consectetur elit.
      %li Lorem ipsum dolor sit amet, consectetur.
      %li Lorem ipsum dolor sit amet, consectetur adipisicing.
      %li Lorem ipsum dolor sit

.row
  .col-md-12
    %article.show
      %h3.lp= @article.title
      %h4.lp= @article.published_at
      .content.lp= @article.content
      %p.lp
        Tags:
        = Enum.map(@article.tags, fn(tag) -> tag.name end) |> Enum.join(", ")
    %div
      %a{href= '#{article_path(@conn, :edit, @article)}'}
        edit
    %br
