.row
  .col-md-6
    %article.show
      %image{data-src='#{@article.image_url}' class='cld-responsive'}
  .col-md-6.related
    %h3.lp related articles
    %ul
      - for related <- @related do
        %li
          %a{href='/articles/#{related.id}'}
            = related.title

.row
  .col-md-12
    %article.show
      %h3.lp= @article.title
      %h4.lp= @article.published_at |> formatted
      .content.lp= @article.content |> as_html
      - if length(@article.tags) > 0 do
        %p.lp.nbm
          Filed as:
          = render_tags_as_links_from(@conn, @article.tags)
      - if length(@article.tech_tags) > 0 do
        %p.lp
          Built using:
          = render_tags_as_links_from(@conn, @article.tech_tags)

    - if @current_user do
      %div
        %a{href= '#{article_path(@conn, :edit, @article)}'}
          edit
    %br


-# // EXPERIMENT
-# .row
-#   .col-md-12
-#     %article.show
-#       .pull-right.image
-#         %image{data-src='#{@article.image_url}' class='cld-responsive'}
-#
-#       %h3.lp= @article.title
-#       %h4.lp= @article.published_at |> formatted
-#       .content.lp= @article.content |> as_html
-#       - if length(@article.tags) > 0 do
-#         %p.lp.nbm
-#           Filed as:
-#           = render_tags_as_links_from(@conn, @article.tags)
-#       - if length(@article.tech_tags) > 0 do
-#         %p.lp
-#           Built using:
-#           = render_tags_as_links_from(@conn, @article.tech_tags)
