= render_page_title(@conn)
.row.articles
  - for article <- @articles do
    .col-md-6
      -# .overlay{id='article-#{article.id}'}
      -#   %a.link{href='#{article_path(@conn, :show, article)}'}
      -#     view article
      .hotspot
        %article.preview
          %a.link{href='#{article_path(@conn, :show, article)}'}
            %image{data-src='#{article.image_url}' class='cld-responsive'}
          %h4.lp= article.title
          .summary.lp= article.summary |> as_html
          %div
            %a{href= '#{article_path(@conn, :edit, article)}'} edit
.row.meta
  .col-md-4
    %aside.twitter.lp
      %h4 said
      %ul
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  .col-md-4
    %aside.tags
      %h4 meta
      = CenatusLtd.ArticleView.render_tags_as_links_from(@conn, @tags)

  .col-md-4
    %aside.last-fm
      %h4 heard
      %ul
        %li patten — Out the Coast
        %li Wire — wire - pink flag - 09 - surgeon's girl
        %li Sun Ra — Velvet
