.col-md-6
  .hotspot
    %article.preview
      %a.link{href='#{article_path(@conn, :show, @article)}'}
        %image{data-src='#{@article.image_url}' class='cld-responsive'}
      %h4.lp
        %a.link{href='#{article_path(@conn, :show, @article)}'}
          = @article.title |> Phoenix.HTML.raw
      .summary.lp= @article.summary |> as_html
      %div
        %a{href= '#{article_path(@conn, :edit, @article)}'} edit
