.col-md-6
  -# .overlay{id='article-#{article.id}'}
  -#   %a.link{href='#{article_path(@conn, :show, article)}'}
  -#     view article

  .hotspot
    %article.preview
      %a.link{href='#{article_path(@conn, :show, @article)}'}
        -# %image{src='/images/production.jpg'}
        %image{data-src='#{@article.image_url}' class='cld-responsive'}
      %h4.lp= @article.title
      .summary.lp= @article.summary |> as_html
      %div
        %a{href= '#{article_path(@conn, :edit, @article)}'} edit
